.image-container {
	width: 25vw;
	padding: 0;
	position: absolute;
	top: 10%;
	right: 5%;
}
@media (max-width: 600px) {
	.image-container {
		width: 40vw;
	}
}
.image {
	width: 100%;
	height: auto;
	filter: brightness(1.05) drop-shadow(0 0 5px #eee5da);
	animation: pulse-and-float 6s infinite ease-in-out;
}

@keyframes pulse-and-float {
	0% {
		transform: translateY(0) scale(0.98);
		filter: brightness(1.05) drop-shadow(0 0 5px #eee5da);
	}

	50% {
		transform: translateY(0) scale(1.03);
		filter: brightness(1.05) drop-shadow(0 0 7px #eee5da);
	}
	100% {
		transform: translateY(0) scale(0.98);
		filter: brightness(1.05) drop-shadow(0 0 5px #eee5da);
	}
}
body {
	background-color: #262424;
}
